//General
$c-green: #4CB26E;
$c-grey: #959595;

$bg-color: #000;
$link-color: $c-green;
$container-width: 1330px;
$row-width: 1056px;

//Colors
.color-green {
  color: $c-green;
}

.color-grey {
  color: $c-grey;
}

//Fonts
.font-xxl {
  font-size: 48px;
  line-height: 66px;
  
  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 54.64px;
  }
  
  @media (max-width: 640px) {
    font-size: 32px;
    line-height: 43.71px;
  }
}

.font-xl {
  font-size: 32px;
  line-height: 43.71px;
}

.font-md {
  font-size: 18px;
  line-height: 24.59px;
}

.font-sm {
  font-size: 14px;
  line-height: 19.12px;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 500;
}