@import "normalize.css";
@import "fonts";
@import "variables";

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.wow {
  visibility: hidden;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 48px;

  @media (max-width: 640px) {
    padding: 0 16px;
  }
}
.row {
  max-width: $row-width;
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.col {
  width: 100%;
  padding: 0 16px;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

body {
  background-color: $bg-color;
  font-family: 'Manrope', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  &.show-nav {
    @media (max-width: 640px) {
      overflow: hidden;
    }
  }
}

.section {
  margin-bottom: 160px;

  @media (max-width: 768px) {
    margin-bottom: 80px;
  }

  &__title {
    color: white;
    margin-bottom: 32px;
  }
}

.card {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 48px;

  @media (max-width: 640px) {
    margin-bottom: 32px;
  }

  &.mb-1 {
    margin-bottom: 12px;
  }

  &__image {
    width: 75px;
    margin-right: 32px;
    
    @media (max-width: 768px) {
      margin-right: 16px;
    }

    &--img {
      display: block;
      max-width: 75px;
    }
  }

  &__body {
    flex: 1;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__text {

    a {
      color: $link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nkfrv {
  position: relative;
  min-height: 100vh;
  background-color: $bg-color;
  color: white;

  &__topnav {
    height: 80px;
    background-color: $bg-color;
    position: sticky;
    top: 0;

    @media (min-width: 769px) {
      margin-bottom: 110px;
    }

    @media (min-width: 641px) {
      padding: 32px 0;
      height: auto;
      margin-bottom: 50px;
    }

    @media (max-width: 640px) {
      .show-nav & {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        background-color: black;
      }
    }

    &--wrap {
      position: relative;

      .show-nav & {
        @media (max-width: 640px) {
          display: flex;
          flex-direction: column;
          height: 100vh;
        }
      }
    }

    &--icon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
      right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 40px;
        max-height: 40px;
      }

      @media (min-width: 641px) {
        display: none;
      }

      .isOpen {
        display: none;
      }

      .show-nav & {
        .isOpen {
          display: block;
        }

        .isClosed {
          display: none;
        }
      }
    }

    &--menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: 640px) {
        display: none;

        .show-nav & {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex: 1;
        }
      }
    }
    
    &--menu-item {
      @media (min-width: 641px) {
        margin-left: 48px;

        &:first-child {
          margin-left: 0;
        }
      }

      @media (max-width: 640px) {
        &:not(:last-child) {
          margin-bottom: 48px;
        }
      }
    }

    &--link {
      color: $link-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      @media (max-width: 640px) {
        font-size: 32px;
        line-height: 43.71px;
      }
    }
  }

  &__hero {
    &--wrap {
      max-width: $row-width;
    }

    &--title {

    }
  }

  &__exp {
    &--item {
      margin-bottom: 48px;

      @media (max-width: 640px) {
        margin-bottom: 32px;
      }
    }

    &--header {
      margin-bottom: 4px;
    }

    &--image {
      margin-bottom: 16px;
    }

    &--img {
      max-width: 100%;
    }
  }

  &__contacts {
    &--item {
      margin-bottom: 48px;
    }

    &--item-title {
      margin-bottom: 4px;
    }

    &--item-link {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__footer {
    padding-bottom: 32px;

    &--wrap {
      display: flex;
      align-items: center;

      @media (max-width: 640px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &--copyrights {
      margin-bottom: 48px;

      @media (min-width: 641px) {
        margin-bottom: 0;
        margin-right: 16px;
      }

      @media (min-width: 768px) {
        margin-right: 48px;
      }
    }

    &--nav {
      @media (max-width: 640px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &--nav-item {
      margin-bottom: 48px;
      text-decoration: underline;

      &:last-child {
        margin-right: 0 !important;
      }

      @media (min-width: 641px) {
        margin-bottom: 0;
        margin-right: 16px;
      }

      @media (min-width: 768px) {
        margin-right: 48px;
      }

      &:hover {
        color: $link-color;
      }
    }
  }
}

@import "animate";